.root {
    -fx-background-color: #000000;
    -fx-font-family: 'Roboto Mono';
    -fx-font-size: 12pt;
}

.label {
	-fx-text-fill: #FFFFFF;
}

#label0.label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 36pt;
    -fx-font-weight: bold;
}

#label1b.label {
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 8pt;
}

#labelMedium.label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 24pt;
}

#labelSmall.label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 10pt; 
}

.button {
    -fx-background-color: #d3d3d3;
    -fx-text-fill: #000000;
    -fx-font-family: 'Roboto Mono';
    -fx-background-radius: 6;
}

.choice-box .context-menu {
	-fx-background-color: #d3d3d3;
    -fx-text-fill: #000000;
}

.choice-box .menu-item:focused {
	-fx-background-color: orange;
}

.choice-box .menu-item:focused > .label {
	-fx-text-fill: black;
}

.check-box {
	-fx-text-fill: #FFFFFF;
}
.choice-box .menu-item > .label {
	-fx-text-fill: #000000;
}

.choice-box > .label {
	-fx-text-fill: #000000;
}

.text-area .content {
	-fx-text-fill: #000000;
	-fx-background-color: #FFFFFF;
}

/*
.button-blue{
    -fx-background-color: #7cafc2;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
}
#bold-label{
    -fx-font-weight: bold;
} */